body {
    background-color: #212121;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Album Content  */

p {
    color: #b3b3b3;
}

h3 {
    color: #FFFF;
}

#albums-images {
    display: grid;
    grid-template-columns: repeat(8,150px);
    gap: 1.1rem;
    color: #FFFF;
}

.album-size {
    max-width: 150px;
    border-radius: 5%;
}

.album-size:hover {
    margin: -10px;
    transition: 0.3s ease-in-out;
}

/* Navigation */

#login-wrap {
    background-color: white;
    border: 2px solid transparent;
    padding: 3px;
    border-radius: 20px;
    min-width: 100px;
    max-width: 100px;
    text-decoration: none;
    text-align: center;
    margin-left: 40px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:#121212;
    margin-top: -6px;
    min-height: 8dvh;
    max-height: 8dvh;
}

.nav-link {
    font-size: 1.5rem;
    text-decoration: none;
    color: #7c7c7c;
    margin-top: -30px;
}

#nav-logo {
    max-height: 5dvh;
    max-width: 5dvh;
    margin-top: 5px;
    background-color: #212121;
    border-radius: 100%;
    padding: 3px;
}

#nav-logo-house {
    max-height: 5dvh;
    max-width: 5dvh;
    margin-top: 5px;
    background-color: #212121;
    border-radius: 100%;
    padding: 3px;
    margin-right: 10px;
    
}

/* Nav Dividers */

.search-bar {
    background-color: #7c7c7c;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 50px;
    width: 440px;
    border-radius: 25px;
    margin: 15px;
    box-sizing: border-box;
    padding: 0 15px;
    margin-left: 300px;
    margin-top: 38px;
    text-decoration: none;
    word-break:normal;
}


.downloads {
    text-decoration: none;
     background-color: #7c7c7c;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 48px;
    width: 600px;
    border-radius: 25px;
    margin: 15px;
    box-sizing: border-box;
    padding: 0 15px;
    margin-left: 750px;
    margin-top: -60px;
    font-size: 1.2rem;
    justify-content: space-evenly;
    word-break:normal;
}

/* Main Content */
main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section {
    margin-left: 4px;
}

/* footer content  */

footer {
    display: flex;
    padding: 10px;
    background:linear-gradient( to right, rgb(255, 119, 210), rgb(0, 183, 255));
    justify-content: space-evenly;
    margin: 10px;
}

.preview {
    display: flex;
    flex-direction: column;
    max-height: 10px;
    margin-top: -10px;
    
}

.signup {
    max-height: 5px;
    max-width: 400px;
    font-size: 1.1rem;
    background-color: white;
    color: black;
    padding: 2%;
    text-align: center;
    border-radius: 50px;
    margin: 10px;
}

/* Side-bar Content  */

.side-bar-content {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 2rem;
    background-color: #121212;
    border-radius: 10px;
    width: 370px;
    padding: 10px;
    min-height: 70px;
}

.library {
    background-color: #b3b3b3;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: -15px;
    height: 200px;
    
}

.podcasts {
    background-color: #b3b3b3;
    border-radius: 10px;
    margin-bottom: 10px;
}

.policies {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(4,100px);
    margin-bottom: -15px;
    width: 370px;
}

.language {
    height: 200px;
    margin-bottom: -130px;
}

.special-icon {
    height: 40px;

}

.side-button1 {
    background-color: white;
    color: black;
    border-radius: 10px;
    height: 50px;
    width: 150px;
    font-size: 1.2rem;
    text-align: center;
}

.side-button1 {
    background-color: white;
    color: black;
    border-radius: 10px;
    height: 50px;
    width: 150px;
    font-size: 1.2rem;
    text-align: center;
    margin-left: 10px;
}

.side-button2 {
    background-color: white;
    color: black;
    border-radius: 10px;
    height: 50px;
    width: 150px;
    font-size: 1.2rem;
    text-align: center;
    margin-top: -40px;
    margin-left: 10px;
}

#sidebar {
    margin-left: 4px;
    color: white;
}