body {
    background-color: #121212;
}

/* Album Content  */

p {
    color: #b3b3b3;
}

h3 {
    color: #FFFF;
}

#albums-images {
    display: grid;
    grid-template-columns: repeat(8,150px);
    gap: 2rem;
    color: #FFFF;
}

.album-size {
    max-width: 150px;
}

.album-size:hover {
    margin: -10px;
    transition: 0.3s ease-in-out;
}

/* Navigation */

.login-wrap {
    background-color: white;
    border: 2px solid transparent;
    padding: 3px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:rgb(207, 207, 207);
    margin-top: -6px;
    min-height: 8dvh;
}

.nav-link {
    font-size: 1.5rem;
    text-decoration: none;
    color: #7c7c7c;
    margin-top: -30px;
}

#nav-logo {
    max-height: 5dvh;
    max-width: 5dvh;
    margin-top: 15px
}

#nav-logo2 {
    max-height: 5dvh;
    max-width: 5dvh;
    margin-top: 45px
}

/* Nav Dividers */

.search-bar {
    background-color: #7c7c7c;
}


.downloads {
    background-color: #7c7c7c;
    display: flex;
    flex-direction: row;
}

/* footer content  */

footer {
    display: flex;
    padding: 10px;
    background-color: rgb(255, 0, 43);
    justify-content: space-evenly;
}

.preview {
    display: flex;
    flex-direction: column;
    max-height: 10px;
    margin-top: -10px;
    
}

.signup {
    max-height: 5px;
    max-width: 100px;
    font-size: 1.1rem;
    background-color: white;
    color: black;
    padding: 2%;
    text-align: center;
    border-radius: 50px;
}

/* Side-bar Content  */

.side-bar-content {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    background-color: #7c7c7c;
}

.library {
    background-color: #b3b3b3;
}

.policies {
    background-color: black;
}